.DS_Store
.dart_tool/

.idea
.vscode
.metadata
*.iml

.packages
.pub/
pubspec.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Flutter/App.framework
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/ios/.generated/
example/ios/Flutter/Generated.xcconfig
example/ios/.symlinks/
example/ios/Flutter/App.framework
example/ios/Pods/
example/ios/Flutter/
.flutter-plugins
.flutter-plugins-dependencies
example/android/.gradle/