.DS_Store
.dart_tool/

.idea
.vscode
.metadata
*.iml

.packages
.pub/
pubspec.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/ios/.generated/
.flutter-plugins
.flutter-plugins-dependencies
example/android/.gradle/